{% extends 'layout.html' %}

{% block content %}
    <ul>
        {% for filename in filenames %}
            <li>
                <a href="{{ url_for('display_file_content', filename=filename) }}">{{ filename }}</a>
                <a href="{{ url_for('edit_file_content', filename=filename) }}">edit</a>
                <form class="inline" action="{{ url_for('delete_file', filename=filename) }}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </li>
            
        {% endfor %}
        <p><a href="{{ url_for('new_document') }}">New Document</a></p>
    </ul>
{% endblock %}

