{% extends "layout.html" %}

{% block content %}
  <h2 class="content-subhead">Search</h2>

  <form action="{{ url_for('search') }}" method="get">
    <input name="query" value="{{ query }}" />
    <button type="submit">Search</button>
  </form>
  {% if results | length > 0 %}
  <h2 class="content-subhead">Results for '{{ query }}'</h2>
    <ul>
      {% for chapter in results %}
        <li>{{ chapter.name }}
          <ul>
            {% for idx, paragraph in chapter.paragraphs.items() %}
              <li>
                <a href="{{ url_for('chapter', chapter_num=chapter.number) }}#{{ idx | safe }}">
                {{ paragraph | bold(query) | safe }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% else %}
  <p>Sorry, no matches were found.</p>
  {% endif %}
{% endblock %}