{% extends "layout.html" %}

{% block content %}
  <h2 class="content-subhead">Search</h2>

  <form action="{{ url_for('search') }}" method="get">
    <input name="query" value="{{ query }}" />
    <button type="submit">Search</button>
  </form>
  {% if results | length > 0 %}
  <h2 class="content-subhead">Results for '{{ query }}'</h2>
    <ul>
      {% for chapter in results %}
        <li><a href="{{ url_for('chapter', chapter_num=chapter.number) }}">{{ chapter.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
  <p>Sorry, no matches were found.</p>
  {% endif %}
{% endblock %}