{% extends "layout.html"%}

{% block content %}
    <form action="/lists", method="post">
        <dl>
            <dt>
                <label for="list_title">Enter the title for your new list:</label>
            </dt>
            <dd>
                <input type="text" name="last_title" placeholder="List Title" value="">
            </dd>
        </dl>
        <fieldset class="actions">
            <input type="submit" value="Save">
            <a href="/lists">Cancel</a>
        </fieldset>
    </form>
{% endblock %}